@model List<Noter.Domain.Models.Entities.User>

@{
}

<div class="main">
    <h1>Список сотрудников</h1>

    <div class="d-flex" style="align-items: flex-end">
        <form id="form__search" class="d-flex" style="align-items: flex-end">
            <div class="form-group">
                <label asp-for="@Model[0].Id" class="control-label"></label>
                <input class="form-control" id="workerName" style="width: 150px; height: 38px;" />
                <span class="text-danger"></span>
            </div>
            <input id="btn__search" class=" btn btn-primary d-flex" style="margin-left: 10px; align-items: flex-end;" type="submit" value="Поиск">
        </form>
    </div>
    <a asp-action="Save">Добавить нового сотрудника</a>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th>
                        @user.Id
                    </th>
                    <th>
                        @user.Name
                    </th>
                    <th>
                        @user.LastName
                    </th>
                    <th>
                        @user.Email
                    </th><th>

                        @if (user.Id != 1)
                        {
                            @Html.ActionLink("Изменить", "Save", new { id=user.Id })
                            <span>|</span>
                            @Html.ActionLink("Удалить", "Delete", new { id=user.Id })
                        }
                    </th>

                </tr>
            }
        </tbody>
    </table>
</div>